h1 {
    text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.75);
    }

 .background{
        background-image: url('');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
