/* login_popup.css */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease-in-out; /* Add fade-in animation */
  }
  
  .popup-inner {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 40%;
    opacity: 0; /* Start with opacity 0 for the fade-in effect */
    animation: slideIn 0.5s ease-in-out, fadeIn 0.5s ease-in-out; /* Add slide-in and fade-in animations */
    animation-fill-mode: forwards; /* Keep the final state of the animations */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translate(-50%, -60%); /* Start slightly above */
    }
    to {
      transform: translate(-50%, -50%);
    }
  }
  
  
  .popup-inner h2 {
    margin-top: 0;
  }
  
  .popup-inner label {
    display: block;
    margin-bottom: 10px;
  }
  
  .popup-inner input {
    width: 100%;
    padding: 10px; /* Increase padding for better visibility */
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .popup-inner .icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .popup-inner button[type="submit"],
  .popup-inner button[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .popup-inner button[type="submit"]:hover,
  .popup-inner button[type="button"]:hover {
    background-color: #45a049;
  }
  
  .popup-inner button[type="submit"] {
    margin-top: 20px;
  }
  
  .popup-inner button[type="button"] {
    margin-top: 20px;
    background-color: #f44336;
  }
  
  .popup-inner button[type="button"]:hover {
    background-color: #da190b;
  }
  
  .popup-inner button[type="submit"]:disabled,
  .popup-inner button[type="button"]:disabled {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
  }

  /* Style for the pop-up notification container */
.popup-notification {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 20px;
  color: #333;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the success notification */
.popup-notification.success {
  background-color: #4caf50;
  color: #fff;
}

/* Style for the error notification */
.popup-notification.error {
  background-color: #f44336;
  color: #fff;
}

.popup.active-popup .popup-notification {
  display: block;
}

.close-icon   {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.btn-ok {
  background-color: #ffffff;
  color: rgb(246, 7, 7);
  border: none;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.text-notification {
  display: inline-block;
}